**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
**/docs/
.github/

backend/public/bundles/
backend/tests/
backend/var/
backend/vendor/
backend/.editorconfig
backend/.env.*.local
backend/.env.local
backend/.env.local.php
backend/.env.test

frontend/.eslintrc.cjs
frontend/.prettierrc.json
frontend/node_modules