{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG} 

{$SERVER_NAME:localhost} {
	log {
		format filter {
			request>uri query {
				replace authorization REDACTED
			}
		}
	}

	encode zstd br gzip

	@api `path_regexp('^/(api|admin|bundles)/*')`

	handle @api {
		root * /app/public

		# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
		header ?Permissions-Policy "browsing-topics=()"

		php_server
	}

	handle {
		reverse_proxy node:3000
	}
}
